  /* stylelint-disable */

/* stylelint-enable */

.jobs {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;

  display: inline-block;

  width: 50%;
  padding-bottom: 20px;

  text-align: left;

  color: #001F3F;
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

.jobs .jobs-titulo {
  font-size: 1.75rem;
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 10px;
  letter-spacing: 0.31rem;
  text-transform: uppercase;
  border-bottom: 1px solid #111;
}

.jobs .jobs-texto {
  font-size: 1rem;
  line-height: 1.38rem;
  width: 70%;
}

.jobs .jobs-link {
  font-size: 0.88rem;
  line-height: 1.25rem;
  display: inline-block;
  padding-top: 5px;
  border-top: 1px solid #111;
}

/* ==|== primary styles  =====================================================
Author:jorgeATGU
========================================================================== */

body {
  text-align: center;

  background: #F1F1F1;
}

/* ==|== HEADER =====================================================
========================================================================== */

/* ==|==  INDEX =====================================================
========================================================================== */

/* ==|== LIBRO =====================================================
========================================================================== */

/* ==|== FORMULARIO =====================================================
========================================================================== */

/* ==|== TRABAJOS =====================================================
========================================================================== */

/* ==|== TRABAJOS COLORES INTERIORES =====================================================
========================================================================== */

.trabajos-grafico-calendario {
  background-color: paleturquoise;
}

.trabajos-grafico-visible {
  background-color: #FAEBD7;
}

.trabajos-grafico-logotipos {
  background-color: darksalmon;
}

.trabajos-grafico-curriculum {
  background-color: aquamarine;
}

.trabajos-grafico-libro {
  background-color: antiquewhite;
}

.trabajos-grafico-city {
  background-color: floralwhite;
}

.trabajos-grafico-error {
  background-color: aqua;
}

.trabajos-grafico-animacion-portada {
  background-color: #45BCD2;
}

.trabajos-grafico-perfil-codepen {
  background-color: #EFCC52;
}

.trabajos-grafico-iphone {
  background-color: #9AE9C7;
}

.trabajos-grafico-jetpack {
  background-color: #000;
}

.trabajos-grafico-postbox {
  background-color: #FEE470;
}

.trabajos-grafico-rodeo {
  background-color: #BDC3C7;
}

.trabajos-grafico-viewbox {
  background-color: #73C2AC;
}

.trabajos-grafico-svg-snippets {
  background-color: #7FDBFF;
}

.trabajos-grafico-smil-snippets,
.trabajos-grafico-charlas {
  background-color: beige;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
Mobile first styles.
jorgeATGU
========================================================================== */

/* ===== == = === desde 30em (480px) === = == ===== */

@media screen and (min-width:31.5em) {
}

/* ===== == = === desde 48em (768px) === = == ===== */

@media only screen and (min-width:48em) {
  nav {
    display: inline-block;
    float: left;

    width: 70%;
    padding-top: 15px;
  }
  .svgindex {
    display: block;

    margin: 0 auto;
  }
  .menu-principal {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .menu-principal li {
    width: 15%;
    margin-right: 3%;

    border: 0;
  }
  .menu-principal li:first-child {
    margin-left: 15%;
  }
  .menu-principal li:last-child {
    margin-right: 15%;
  }
  .menu-principal li a {
    font-size: .8em;

    display: inline-block;

    box-sizing: border-box;
    width: auto;
    margin-top: 10px;
    padding: 0;
    padding-bottom: 5px;

    letter-spacing: 0.13rem;

    border-bottom: 0 solid black;
  }
  .menu-principal li a:hover {
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

    color: crimson;
    border-bottom: 3px solid #000;
    background: none;

  }
  .social-header {
    width: 30%;
  }
  .social-header a {
    width: 20%;
  }
  .social-header a:first-child {
    margin-left: 20%;
  }
  .recuadro {
    top: 0;
  }
  .trabajos-lista {
    width: 350px;
    max-width: 350px;
  }
  .encabezados,
  .encabezados2,
  .encabezados3 {
    font-size: 1.5em;

    letter-spacing: 0.06rem;
  }
  .formulario {
    width: 60%;
    max-width: 900px;
    margin: 9.38rem auto;
  }
  .formulario-cuerpo input,
  .formulario-cuerpo textarea {
    width: 60%;
  }
  form .formulario-btn {
    font-size: 1.2em;
  }
  .trabajos {
    padding: 5rem;
  }
  .trabajos-interior {
    display: table;
  }
  .trabajos-definicion p {
      font-size: 1.25rem;
      line-height: 1.75rem;
  }
  .trabajos-definicion {
    display: table-cell;

    box-sizing: border-box;
    width: 40%;
    padding: 6.25rem 3.13rem;

    vertical-align: middle;

    background: #fff;
  }
  .trabajos-grafico figure {
    padding: 0;
  }
  .trabajos-grafico img,
  .trabajos-grafico object {
    display: inline-block;
    float: left;

    width: 50%;
  }
  .trabajos-grafico-curriculum object {
    float: none;

    width: 100%;
  }
  .trabajos-grafico-libro object {
    float: none;

    width: 50%;
  }
  .trabajos-grafico {
    display: table-cell;

    box-sizing: border-box;
    width: 60%;
    padding: 6.25rem 3.13rem;
  }
  .cuadro_mio {
  padding: 0.63rem 0;
  }
  .textoindex,
  .texto-libro {
    font-size: 1.1em;

    width: 50%;
    max-width: 700px;
    padding-bottom: 25px;
  }
  .portada-scalable {
    width: 20%;
    max-width: 500px;
  }
  .encabezado-h1 {
    font-size: 2em;
  }
}

/* ===== == = === 64em (1024px) === = == ===== */

@media only screen and (min-width:64em) {
  .svgindex {
    max-width: 1700px;
    max-height: none;
  }
  .formulario .formulario-cuerpo form .formulario-btn {
    width: 60%;
  }
  .diseimagen, .svgimagen {
    width: 100%;
    padding-top: 3%;
  }
}

/* ===== == = === 85em (1366px) === = == ===== */

@media only screen and (min-width:85.37em) {

}

/* ==========================================================================
Helper classes
========================================================================== */

.ir {
  overflow: hidden;

  *text-indent: -9999px;

  border: 0;
  background-color: transparent;
}

.ir:before {
  display: block;

  width: 0;
  height: 150%;

  content: "";
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -0.06rem;
  padding: 0;

  border: 0;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  position: static;

  overflow: visible;
  clip: auto;

  width: auto;
  height: auto;
  margin: 0;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  display: table;

  content: " ";
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/*# sourceMappingURL=css/styles.css.map */
