/*

Tus movidas que no están en Astral

*/

* {
  box-sizing: border-box;
}


/* stylelint-disable */

html {
  line-height: 1.5;
}

.grid {
  grid-template-columns: 100%;
}

.list-style-roman {
    list-style-type: upper-roman;
}


/* stylelint-enable */

@media only screen and (min-width: 30em) {
  .maw-50--s {
    max-width: 50%;
  }
  .maw-60--s {
    max-width: 60%;
  }
  .maw-70--s {
    max-width: 70%;
  }
  .maw-80--s {
    max-width: 80%;
  }
  .maw-90--s {
    max-width: 90%;
  }
  .maw-100--s {
    max-width: 100%;
  }
  .grid {
    grid-gap: 10vh;
    justify-self: center;
    justify-items: center;
  }
}

@media only screen and (min-width: 48em) {
  .maw-50--m {
    max-width: 50%;
  }
  .maw-60--m {
    max-width: 60%;
  }
  .maw-70--m {
    max-width: 70%;
  }
  .maw-80--m {
    max-width: 80%;
  }
  .maw-90--m {
    max-width: 90%;
  }
  .maw-100--m {
    max-width: 100%;
  }
  .maw-50em--m {
    max-width: 50em;
  }
}

@media only screen and (min-width: 64em) {
  .maw-20--l {
    max-width: 20%;
  }
  .maw-30--l {
    max-width: 30%;
  }
  .maw-50--l {
    max-width: 50%;
  }
  .maw-60--l {
    max-width: 60%;
  }
  .maw-70--l {
    max-width: 70%;
  }
  .maw-80--l {
    max-width: 80%;
  }
  .maw-90--l {
    max-width: 90%;
  }
  .maw-100--l {
    max-width: 100%;
  }
  .grid--l {
    grid-template-columns: 45% 55%;
  }
  .logo {
    width: 10rem;
    height: 10rem;
  }
  .scalable-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-column-gap: 5%;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
  }
  .snippets-grid {
    display: grid;
    grid-template-columns: 20% 40% 35%;
    grid-column-gap: 0;
    grid-row-gap: 0;
    justify-items: stretch;
    align-items: stretch;
  }
  .charlas-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 50px;
    grid-row-gap: 0;
    justify-items: start;
    align-items: start;
  }
}
