.bio {
    margin: 10vh auto;
    max-width: 80vw;
}

.bio-element {
    width: max-content;
    max-width: 20rem;
    padding: 2rem;
}

.bio-element-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    font-family: var(--rubik);
}

.bio-element-text {
    font-size: 1rem;
    font-family: var(--plex);
    margin: .5rem 0;
    max-width: 30rem;
    .trough {
        text-decoration: line-through;
    }
}

@media only screen and (min-width: 48em) {

    .bio-element {
        width: 100%;
        max-width: 100%;
    }

}
