.grid {
    margin: 10vh 0;
}

.grid-element {
    width: max-content;
    max-width: 20rem;
    padding: 2rem;
}

.grid-element-title {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
    font-weight: bold;
    font-family: var(--rubik);
}

.grid-element-text {
    font-size: 1rem;
    font-family: var(--plex);
    margin: .5rem 0;
    .trough {
        text-decoration: line-through;
    }
}

@media only screen and (min-width: 48em) {

    .grid-element {
        margin: 0 auto;
        margin-left: 20vw;
        max-width: 30rem;
    }

}
