.header {
    background-color: var(--blanco);
    /* stylelint-disable */
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /* stylelint-enable */
    z-index: 3;
    padding: 1rem;
    width: 100%;
    font-size: 0;
}

.header-nav {
    max-width: 50rem;
    margin: 0 auto;
}

.header-elements {
    width: 100%;
    display: block;
    margin-bottom: .5rem;
}

.header-links {
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    color: #1e2439;
    font-family: var(--rubik);
    &:not(:last-child) {
        padding-right: 1rem;
    }
    &:hover {
        text-decoration: underline;
    }
}

.header-links-bold {
    font-weight: bold;
}

@media only screen and (min-width: 48em) {

    .header {
        padding: 2rem;
    }

    .header-elements {
        width: 50%;
        display: inline-block;

    }

}
