/* stylelint-disable */

.ghost:hover,
.ghost:focus {
  border: 1px solid currentColor;
  background-color: transparent;
}

/* stylelint-enable */

.underline:hover,
.underline:focus {
  text-decoration: underline;
}
