/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
Mobile first styles.
jorgeATGU

/* ===== == = === desde 48em (768px) === = == ===== */
@media only screen and (min-width:48em) {

  .container {
    width: 70%;
  }

  .trabajos {
    padding: 80px;
  }

  .trabajos-interior {
    display: table;
  }

  .trabajos-definicion p {
      font-size: 20px;
      line-height: 28px;
  }

  .trabajos-definicion {
    width: 40%;
    display: table-cell;
    background: #fff;
    padding: 100px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
  }

  .trabajos-grafico figure {
    padding: 0;
  }

  .trabajos-grafico img,
  .trabajos-grafico object {
    width: 50%;
    float: left;
    display: inline-block;
  }

  .trabajos-grafico-curriculum object {
    width: 100%;
    float: none;
  }

  .trabajos-grafico-libro object {
    width: 50%;
    float: none;
  }

  .trabajos-grafico {
    width: 60%;
    display: table-cell;
    padding: 100px 50px;
    box-sizing: border-box;
  }

  .cuadro_mio {
  padding: 10px 0;
  }

  .textoindex,
  .texto-libro {
    max-width: 700px;
    font-size: 1.1em;
    width: 50%;
    padding-bottom: 25px;
  }
  .portada-scalable {
    width: 20%;
    max-width: 500px;
  }
  .encabezado-h1 {
    font-size: 2em;
  }


}

/* ===== == = === 64em (1024px) === = == ===== */
@media only screen and (min-width:64em) {
  .container {
    width: 50%;
  }

  .ftr-l,
  .ftr-r {
    width: 50%;
  }

  .ftr-r {
    text-align: right;
  }
}
