/* ===== == = === desde 48em (768px) === = == ===== */
@media only screen and (min-width:48em) {

  .container {
    width: 70%;
  }

  .trbjs {
    display: table;
    width: 100%;
    margin-top: 20px;
  }

  .trbjs-l p {
      font-size: 20px;
  }

  .trbjs-l {
    width: 40%;
    display: table-cell;
    background: #fff;
    padding: 100px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
  }

  .trbjs-r figure {
    padding: 0;
  }

  .trbjs-r {
    width: 60%;
    display: table-cell;
    padding: 100px 50px;
    box-sizing: border-box;
  }

}

/* ===== == = === 64em (1024px) === = == ===== */
@media only screen and (min-width:64em) {
  .container {
    width: 50%;
  }

  .ftr-l,
  .ftr-r {
    width: 50%;
  }

  .ftr-r {
    text-align: right;
  }
}
