.proyectos {
    max-width: 90%;
    display: grid;
    margin: 2rem auto;
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-items: stretch;
    align-items: stretch;
}

.proyectos-element {
    padding: 1rem;
    background-color: var(--fondoproyectos);
    border-radius: 4px;
    width: 100%;
    display: inline-block;
    text-decoration: none;
    transition: all .3s ease-in;
    &:hover {
        transform: translateY(-.25rem);
        background-color: var(--morado);
    }
}

.proyectos-element-title {
    font-size: 1.5rem;
    font-family: var(--rubik);
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--redtitle);
    display: block;
    margin: 0;
    padding-bottom: .25rem;
}

.proyectos-element-subtitle {
    font-size: .75rem;
    font-family: var(--monospace);
    font-weight: bold;
    color: var(--pinktitle);
    text-transform: uppercase;
    display: inline-block;
}

.proyectos-element-text {
    font-size: 1rem;
    font-family: var(--plex);
    color: var(--blanco);
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.proyectos-elements-buttons {
    padding: 1rem 0;
}

.proyectos-element-link {
    font-size: 1rem;
    font-family: var(--rubik);
    color: var(--blanco);
    text-decoration: underline;
    padding-right: .5rem;
    display: inline-block;
    vertical-align: middle;
    &:not(:last-child) {
        &:after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            margin-left: 1rem;
            height: 3vh;
            width: 1px;
            background-color: var(--blanco);
        }
    }

}

@media only screen and (min-width: 48em) {

    .proyectos {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 80vw;
    }

}
