.proyectos {
    max-width: 90%;
    display: grid;
    margin: 2rem auto;
    margin-top: 0;
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-items: stretch;
    align-items: stretch;
}


.proyectos-element-title {
    font-size: 1rem;
    font-family: var(--plex);
    color: var(--negro);
    display: block;
    font-weight: 500;
    margin: 0;
    padding-bottom: .25rem;
}

@media only screen and (min-width: 48em) {

    .proyectos {
        grid-template-columns: 1fr 1fr;
        max-width: 42rem;
    }

}

@media only screen and (min-width: 64em) {

    .proyectos {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        max-width: 58rem;
    }
}
