* {
  box-sizing: border-box;
}

body {
  background-color: var(--bgcColor);
}

.m5 {
  margin: 5px 0;
}

.font {
  font-family: var(--fontSystem);
}

.fs-p {
  font-size: 24px;
  line-height: 32px;
}

.btn-h {
  text-decoration: none;
  font-size: 20px;
  line-height: 28px;
  color: var(--impureBlack);
  text-transform: uppercase;
}

.dctn-h {
  font-size: 22px;
  line-height: 30px;
  color: var(--impureBlack);
}

.navy {
  color: var(--navy);
}

.i-black {
  color: var(--impureBlack);
}

.teal {
  color: var(--teal);
}

.ttl {
  font-size: 28px;
  margin-top: 0;
  letter-spacing: 3px;
  margin-bottom: 0;
  border-bottom: 1px solid var(--impureBlack);
  display: inline-block;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.jobs-d {
  width: 100%;
  display: inline-block;
  margin-bottom: 40px;
  border-top: 1px solid var(--lgrey);
  border-left: 1px solid var(--lgrey);
  padding-left: 20px;
  padding-top: 20px;
}

.maw2 {
  max-width: 200px;
}

.jobs-t {
    width: 90%;
    font-size: 16px;
    line-height: 22px;
}

.jobs-l {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding-top: 5px;
    border-top: 1px solid var(--impureBlack);
    margin-right: 20px;
    text-decoration: none;
}

.portfolio {
  margin: 40px 0;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 800px;
}
