  :root {
    --fontSystem: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
    --impureBlack: #121;
    --navy: #151553;
    --lgrey: lightgrey;
    --bgcColor: #eeecaf;
    --teal: #2f4f4f;
}
