:root {
  --fontSystem: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, sans-serif;
  --monospace: monospace;
  --text: 'Inter', sans-serif;
  --blanco: #fff;
  --f1: #f1f1f1;
  --background: #EAE2DA;
  --background-element: #f4b4d4;
  --color-text: #092031;
  --negro: #111;
}
