:root {
  --fontSystem: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, sans-serif;
  --monospace: monospace;
  --title: 'graph_ff_condensedblack';
  --text: 'Inter';
  --blanco: #fff;
  --f1: #f1f1f1;
  --background: #eaf6c1;
  --font: #300e67;
  --negro: #111;
  --fondoproyectos: #300e67;
}
