  /*MOVIMIENTO DEL SOL*/

@-webkit-keyframes solrotando {
  0%  {
    -webkit-transform:translateX(0px) translateY(0px);
  }

  50% {
    -webkit-transform:translate(250px) translateY(-100px);
  }

  100% {
  -webkit-transform:translateX(480px) translateY(90px);
  }
}

@-o-keyframes solrotando {
  0%  {
    -o-transform:translateX(0px) translateY(0px);
  }

  50% {
    -o-transform:translate(250px) translateY(-100px);
  }

  100% {
  -o-transform:translateX(480px) translateY(90px);
  }
}

@-moz-keyframes solrotando {
  0%  {
    -moz-transform:translateX(0px) translateY(0px);
  }

  50% {
    -moz-transform:translate(250px) translateY(-100px);
  }

  100% {
  -moz-transform:translateX(480px) translateY(90px);
  }
}

@keyframes solrotando {
  0%  {
  -webkit-transform:translateX(0px) translateY(0px);
  -moz-transform:translateX(0px) translateY(0px);
  -o-transform:translateX(0px) translateY(0px);
  transform:translateX(0px) translateY(0px);
  }

  50% {
  -webkit-transform:translate(250px) translateY(-100px);
  -moz-transform:translate(250px) translateY(-100px);
  -o-transform:translate(250px) translateY(-100px);
  transform:translate(250px) translateY(-100px);
  }

  100% {
  -webkit-transform:translateX(480px) translateY(90px);
  -moz-transform:translateX(480px) translateY(90px);
  -o-transform:translateX(480px) translateY(90px);
  transform:translateX(480px) translateY(90px);
  }
}

.sol {
-webkit-animation: solrotando 73s linear 42s forwards;
-moz-animation: solrotando 73s linear 42s forwards;
-o-animation: solrotando 73s linear 42s forwards;
animation: solrotando 73s linear 42s forwards;
anim
}

/*LLAMAS GIRANDO*/

@-webkit-keyframes llamas {
    from {
      -webkit-transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(360deg);
    }
}

@-o-keyframes llamas {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@-moz-keyframes llamas {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

@keyframes llamas {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}


/*LLAMAS AL REVES*/

@-webkit-keyframes llamas2 {
    from {
      -webkit-transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(-360deg);
    }
}

@-o-keyframes llamas2 {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
}

@-moz-keyframes llamas2 {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
}

@keyframes llamas2 {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
    }

    to {
      -webkit-transform: rotate(-360deg);
      -o-transform: rotate(-360deg);
      -moz-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
}

/*FIX PARA FIREFOX MAS INFO EN: http://jorgeatgu.com/blog/animando-svg-con-css3-en-firefox/*/

.corregir {
-moz-transform: translate(629px,427.2px);
}
.corregir polygon{
-moz-transform: translate(-629px,-427.2px);
}

/*FIN DELACITA*/

.rotacion {
-webkit-transform-origin:50% 50%;
-o-transform-origin:50% 50%;
-moz-transform-origin:50% 50%;
-ms-transform-origin:50% 50%;
transform-origin:50% 50%;
-webkit-animation: llamas 73s linear 42S 5 forwards;
-moz-animation: llamas 73s linear 42S 5 forwards;
-o-animation: llamas 73s linear 42S 5 forwards;
animation: llamas 73s linear 42S 5 forwards;
}

.rotacion2 {
-webkit-transform-origin:50% 50%;
-o-transform-origin:50% 50%;
-moz-transform-origin:50% 50%;
-ms-transform-origin:50% 50%;
transform-origin:50% 50%;
-webkit-animation: llamas2 73s linear 42S 5 forwards;
-moz-animation: llamas2 73s linear 42S 5 forwards;
-o-animation: llamas2 73s linear 42S 5 forwards;
animation: llamas2 73s linear 42S 5 forwards;
}

/*MOVIMIENTO NUBARRONES*/

@-webkit-keyframes nubarrones {
  from  {
    -webkit-transform:translateX(0px);
  }

  to {
  -webkit-transform:translateX(200px);
  }
}

@-o-keyframes nubarrones {
  from  {
    -webkit-transform:translateX(0px);
    -o-transform:translateX(0px);
    transform:translateX(0px);
  }

  to {
  -webkit-transform:translateX(200px);
  -o-transform:translateX(200px);
  transform:translateX(200px);
  }
}

@-moz-keyframes nubarrones {
  from  {
    -webkit-transform:translateX(0px);
    -o-transform:translateX(0px);
    -moz-transform:translateX(0px);
    transform:translateX(0px);
  }

  to {
  -webkit-transform:translateX(200px);
  -o-transform:translateX(200px);
  -moz-transform:translateX(200px);
  transform:translateX(200px);
  }
}

@keyframes nubarrones {
  from  {
    -webkit-transform:translateX(0px);
    -o-transform:translateX(0px);
    -moz-transform:translateX(0px);
    transform:translateX(0px);
  }

  to {
  -webkit-transform:translateX(200px);
  -o-transform:translateX(200px);
  -moz-transform:translateX(200px);
  transform:translateX(200px);
  }
}

.nubes {
-webkit-animation: nubarrones 14.4s linear 10 alternate;
-moz-animation: nubarrones 14.4s linear 10 alternate;
-o-animation: nubarrones 14.4s linear 10 alternate;
animation: nubarrones 14.4s linear 10 alternate;
}

@-webkit-keyframes avionmovi {
  from  {
  -webkit-transform:translateX(0px);
  transform:translateX(0px);
    opacity:1;
  }

  to {
-webkit-transform:translateX(200px);
transform:translateX(200px);
  opacity:0;
  }
}

@-moz-keyframes avionmovi {
  from  {
  -moz-transform:translateX(0px);
  transform:translateX(0px);
    opacity:1;
  }

  to {
-moz-transform:translateX(200px);
transform:translateX(200px);
  opacity:0;
  }
}

@-o-keyframes avionmovi {
  from  {
  -o-transform:translateX(0px);
  transform:translateX(0px);
    opacity:1;
  }

  to {
-o-transform:translateX(200px);
transform:translateX(200px);
  opacity:0;
  }
}

@keyframes avionmovi {
  from  {
  -webkit-transform:translateX(0px);
  -moz-transform:translateX(0px);
  -o-transform:translateX(0px);
  transform:translateX(0px);
    opacity:1;
  }

  to {
-webkit-transform:translateX(200px);
-moz-transform:translateX(200px);
-o-transform:translateX(200px);
transform:translateX(200px);
  opacity:0;
  }
}

.moviavion {
opacity:0;
-webkit-animation: avionmovi 33s linear 42s;
-o-animation: avionmovi 33s linear 42s;
-moz-animation: avionmovi 33s linear 42s;
animation: avionmovi 33s linear 42s;
}

/*COLORES A LO LARGO DEL DÍA*/

@-webkit-keyframes colores {
  0% {
  fill:#2c3e50;
  }
  4.16% {
  fill:#2c3e50;
  }
  8.32% {
  fill:#364c5e;
  }
  12.48% {
  fill:#364c5e;
  }
  16.64% {
  fill:#445f75;
  }
  20.80% {
  fill:#445f75;
  }
  24.96% {
  fill:#4b6a82;
  }
  29.12% {
  fill:#4b6a82;
  }
  33.28% {
  fill:#f1c40f;
  }
  37.44% {
  fill:#3498db;
  }
  41.60% {
  fill:#3498db;
  }
  45.76% {
  fill:#3498db;
  }
  49.92% {
  fill:#3498db;
  }
  54.08% {
  fill:#3498db;
  }
  58.24% {
  fill:#3498db;
  }
  62.40% {
  fill:#f39c12;
  }
  66.56% {
  fill:#f39c12;
  }

  70.72% {
  fill:#f39c12;
  }
  74.88% {
  fill:#e67e22;
  }
  79.04% {
  fill:#e67e22;
  }
  83.20% {
  fill:#34495e;
  }
  87.36% {
  fill:#34495e;
  }
  91.52% {
  fill:#34495e;
  }
  95.68% {
  fill:#34495e;
  }
  100% {
  fill:#34495e;
  }
}

@-o-keyframes colores {
  0% {
  fill:#2c3e50;
  }
  4.16% {
  fill:#2c3e50;
  }
  8.32% {
  fill:#364c5e;
  }
  12.48% {
  fill:#364c5e;
  }
  16.64% {
  fill:#445f75;
  }
  20.80% {
  fill:#445f75;
  }
  24.96% {
  fill:#4b6a82;
  }
  29.12% {
  fill:#4b6a82;
  }
  33.28% {
  fill:#f1c40f;
  }
  37.44% {
  fill:#3498db;
  }
  41.60% {
  fill:#3498db;
  }
  45.76% {
  fill:#3498db;
  }
  49.92% {
  fill:#3498db;
  }
  54.08% {
  fill:#3498db;
  }
  58.24% {
  fill:#3498db;
  }
  62.40% {
  fill:#f39c12;
  }
  66.56% {
  fill:#f39c12;
  }
  70.72% {
  fill:#f39c12;
  }
  74.88% {
  fill:#e67e22;
  }
  79.04% {
  fill:#e67e22;
  }
  83.20% {
  fill:#34495e;
  }
  87.36% {
  fill:#34495e;
  }
  91.52% {
  fill:#34495e;
  }
  95.68% {
  fill:#34495e;
  }
  100% {
  fill:#34495e;
  }
}


@-moz-keyframes colores {
  0% {
  fill:#2c3e50;
  }
  4.16% {
  fill:#2c3e50;
  }
  8.32% {
  fill:#364c5e;
  }
  12.48% {
  fill:#364c5e;
  }
  16.64% {
  fill:#445f75;
  }
  20.80% {
  fill:#445f75;
  }
  24.96% {
  fill:#4b6a82;
  }
  29.12% {
  fill:#4b6a82;
  }
  33.28% {
  fill:#f1c40f;
  }
  37.44% {
  fill:#3498db;
  }
  41.60% {
  fill:#3498db;
  }
  45.76% {
  fill:#3498db;
  }
  49.92% {
  fill:#3498db;
  }
  54.08% {
  fill:#3498db;
  }
  58.24% {
  fill:#3498db;
  }
  62.40% {
  fill:#f39c12;
  }
  66.56% {
  fill:#f39c12;
  }
  70.72% {
  fill:#f39c12;
  }
  74.88% {
  fill:#e67e22;
  }
  79.04% {
  fill:#e67e22;
  }
  83.20% {
  fill:#34495e;
  }
  87.36% {
  fill:#34495e;
  }
  91.52% {
  fill:#34495e;
  }
  95.68% {
  fill:#34495e;
  }
  100% {
  fill:#34495e;
  }
}

@keyframes colores {
  0% {
  fill:#2c3e50;
  }
  4.16% {
  fill:#2c3e50;
  }
  8.32% {
  fill:#364c5e;
  }
  12.48% {
  fill:#364c5e;
  }
  16.64% {
  fill:#445f75;
  }
  20.80% {
  fill:#445f75;
  }
  24.96% {
  fill:#4b6a82;
  }
  29.12% {
  fill:#4b6a82;
  }
  33.28% {
  fill:#f1c40f;
  }
  37.44% {
  fill:#3498db;
  }
  41.60% {
  fill:#3498db;
  }
  45.76% {
  fill:#3498db;
  }
  49.92% {
  fill:#3498db;
  }
  54.08% {
  fill:#3498db;
  }
  58.24% {
  fill:#3498db;
  }
  62.40% {
  fill:#f39c12;
  }
  66.56% {
  fill:#f39c12;
  }
  70.72% {
  fill:#f39c12;
  }
  74.88% {
  fill:#e67e22;
  }
  79.04% {
  fill:#e67e22;
  }
  83.20% {
  fill:#34495e;
  }
  87.36% {
  fill:#34495e;
  }
  91.52% {
  fill:#34495e;
  }
  95.68% {
  fill:#34495e;
  }
  100% {
  fill:#34495e;
  }
}

.ventana {
fill:#2c3e50;
-webkit-animation: colores 144s linear forwards;
-o-animation: colores 144s linear forwards;
-moz-animation: colores 144s linear forwards;
animation: colores 144s linear forwards;
}

/*MOVIMIENTO LUNA*/

@-webkit-keyframes luna {
  0%  {
  -webkit-transform:translateX(-350px) translateY(100px);
  transform:translateX(-350px) translateY(100px);
  opacity:1;
  }

50% {
  -webkit-transform:translate(0px) translateY(-25px);
  transform:translate(0px) translateY(-25px);
  opacity:1;
  }

100% {
  -webkit-transform:translateX(240px) translateY(100px);
  transform:translateX(240px) translateY(100px);
  opacity:0;
  }
}

@-moz-keyframes luna {
  0%  {
  -moz-transform:translateX(-350px) translateY(100px);
  transform:translateX(-350px) translateY(100px);
  opacity:1;
  }

50% {
  -moz-transform:translate(0px) translateY(-25px);
  transform:translate(0px) translateY(-25px);
  opacity:1;
  }

100% {
  -moz-transform:translateX(240px) translateY(100px);
  transform:translateX(240px) translateY(100px);
  opacity:0;
  }
}

@-o-keyframes luna {
  0%  {
  -o-transform:translateX(-350px) translateY(100px);
  transform:translateX(-350px) translateY(100px);
  opacity:1;
  }

50% {
  -o-transform:translate(0px) translateY(-25px);
  transform:translate(0px) translateY(-25px);
  opacity:1;
  }

100% {
  -o-transform:translateX(240px) translateY(100px);
  transform:translateX(240px) translateY(100px);
  opacity:0;
  }
}

@keyframes luna {
  0%  {
  -webkit-transform:translateX(-350px) translateY(100px);
  -moz-transform:translateX(-350px) translateY(100px);
  -o-transform:translateX(-350px) translateY(100px);
  transform:translateX(-350px) translateY(100px);
  opacity:1;
  }

50% {
  -webkit-transform:translate(0px) translateY(-25px);
  -moz-transform:translate(0px) translateY(-25px);
  -o-transform:translate(0px) translateY(-25px);
  transform:translate(0px) translateY(-25px);
  opacity:1;
  }

100% {
  -webkit-transform:translateX(240px) translateY(100px);
  -moz-transform:translateX(240px) translateY(100px);
  -o-transform:translateX(240px) translateY(100px);
  transform:translateX(240px) translateY(100px);
  opacity:0;
  }
}

.moviluna {
opacity: 1;
-webkit-animation: luna 42s linear 0s forwards, luna 24s linear 120s forwards;
-o-animation: luna 42s linear 0s forwards, luna 24s linear 120s forwards;
-moz-animation: luna 42s linear 0s forwards, luna 24s linear 120s forwards;
animation: luna 42s linear 0s forwards, luna 24s linear 120s forwards;
}

/*MOVIMIENTO ESTRELLAS*/


@-webkit-keyframes estrellas {
  0%  {
  -webkit-transform:translateX(-50px) translateY(0px);
  opacity:1;
  }

50% {
  -webkit-transform:translate(0px) translateY(-20px);
  transform:translate(0px) translateY(-20px);
  opacity:1;
  }

100% {
  -webkit-transform:translateX(40px) translateY(0px);
  transform:translateX(40px) translateY(0px);
  opacity:0;
  }
}


@-moz-keyframes estrellas {
  0%  {
  -moz-transform:translateX(-50px) translateY(0px);
  transform:translateX(-50px) translateY(0px);
  opacity:1;
  }

50% {
  -moz-transform:translate(0px) translateY(-20px);
  transform:translate(0px) translateY(-20px);
  opacity:1;
  }

100% {
  -moz-transform:translateX(40px) translateY(0px);
  transform:translateX(40px) translateY(0px);
  opacity:0;
  }
}


@-o-keyframes estrellas {
  0%  {
  -o-transform:translateX(-50px) translateY(0px);
  transform:translateX(-50px) translateY(0px);
  opacity:1;
  }

50% {
  -o-transform:translate(0px) translateY(-20px);
  transform:translate(0px) translateY(-20px);
  opacity:1;
  }

100% {
  -o-transform:translateX(40px) translateY(0px);
  transform:translateX(40px) translateY(0px);
  opacity:0;
  }
}

@keyframes estrellas {
  0%  {
  -webkit-transform:translateX(-50px) translateY(0px);
  -moz-transform:translateX(-50px) translateY(0px);
  -o-transform:translateX(-50px) translateY(0px);
  transform:translateX(-50px) translateY(0px);
  opacity:1;
  }

50% {
  -webkit-transform:translate(0px) translateY(-20px);
  -moz-transform:translate(0px) translateY(-20px);
  -o-transform:translate(0px) translateY(-20px);
  transform:translate(0px) translateY(-20px);
  opacity:1;
  }

100% {
  -webkit-transform:translateX(40px) translateY(0px);
  -moz-transform:translateX(40px) translateY(0px);
  -o-transform:translateX(40px) translateY(0px);
  transform:translateX(40px) translateY(0px);
  opacity:0;
  }
}

.moviestrellas {
opacity: 1;
-webkit-animation: estrellas 42s linear 0s forwards, estrellas 24s linear 120s forwards;
-moz-animation: estrellas 42s linear 0s forwards, estrellas 24s linear 120s forwards;
-o-animation: estrellas 42s linear 0s forwards, estrellas 24s linear 120s forwards;
animation: estrellas 42s linear 0s forwards, estrellas 24s linear 120s forwards;
}

/*COLORES VENTANAS*/


@-webkit-keyframes ventanas {
  0% {
  fill:#f1c40f;
  }
  100% {
  fill:#95a5a6;
  }
}


@-moz-keyframes ventanas {
  0% {
  fill:#f1c40f;
  }
  100% {
  fill:#95a5a6;
  }
}


@-o-keyframes ventanas {
  0% {
  fill:#f1c40f;
  }
  100% {
  fill:#95a5a6;
  }
}


@keyframes ventanas {
  0% {
  fill:#f1c40f;
  }
  100% {
  fill:#95a5a6;
  }
}

.una {
fill:#95a5a6;
-webkit-animation: ventanas 2s linear 0s, ventanas 2s linear 12s, ventanas 2s linear 24s, ventanas 2s linear 36s, ventanas 2s linear 48s, ventanas 2s linear 60s, ventanas 2s linear 72s, ventanas 2s linear 84s, ventanas 2s linear 96s, ventanas 2s linear 108s, ventanas 2s linear 120s, ventanas 2s linear 132s, ventanas 2s linear 142s;
-moz-animation: ventanas 2s linear 0s, ventanas 2s linear 12s, ventanas 2s linear 24s, ventanas 2s linear 36s, ventanas 2s linear 48s, ventanas 2s linear 60s, ventanas 2s linear 72s, ventanas 2s linear 84s, ventanas 2s linear 96s, ventanas 2s linear 108s, ventanas 2s linear 120s, ventanas 2s linear 132s, ventanas 2s linear 142s;
-o-animation: ventanas 2s linear 0s, ventanas 2s linear 12s, ventanas 2s linear 24s, ventanas 2s linear 36s, ventanas 2s linear 48s, ventanas 2s linear 60s, ventanas 2s linear 72s, ventanas 2s linear 84s, ventanas 2s linear 96s, ventanas 2s linear 108s, ventanas 2s linear 120s, ventanas 2s linear 132s, ventanas 2s linear 142s;
animation: ventanas 2s linear 0s, ventanas 2s linear 12s, ventanas 2s linear 24s, ventanas 2s linear 36s, ventanas 2s linear 48s, ventanas 2s linear 60s, ventanas 2s linear 72s, ventanas 2s linear 84s, ventanas 2s linear 96s, ventanas 2s linear 108s, ventanas 2s linear 120s, ventanas 2s linear 132s, ventanas 2s linear 142s;
}

.dos {
fill:#95a5a6;
-webkit-animation: ventanas 2s linear 2s, ventanas 2s linear 14s, ventanas 2s linear 26s, ventanas 2s linear 38s, ventanas 2s linear 50s, ventanas 2s linear 62s, ventanas 2s linear 74s, ventanas 2s linear 86s, ventanas 2s linear 98s, ventanas 2s linear 110s, ventanas 2s linear 122s, ventanas 2s linear 134s, ventanas 2s linear 142s;
-moz-animation: ventanas 2s linear 2s, ventanas 2s linear 14s, ventanas 2s linear 26s, ventanas 2s linear 38s, ventanas 2s linear 50s, ventanas 2s linear 62s, ventanas 2s linear 74s, ventanas 2s linear 86s, ventanas 2s linear 98s, ventanas 2s linear 110s, ventanas 2s linear 122s, ventanas 2s linear 134s, ventanas 2s linear 142s;
-o-animation: ventanas 2s linear 2s, ventanas 2s linear 14s, ventanas 2s linear 26s, ventanas 2s linear 38s, ventanas 2s linear 50s, ventanas 2s linear 62s, ventanas 2s linear 74s, ventanas 2s linear 86s, ventanas 2s linear 98s, ventanas 2s linear 110s, ventanas 2s linear 122s, ventanas 2s linear 134s, ventanas 2s linear 142s;
animation: ventanas 2s linear 2s, ventanas 2s linear 14s, ventanas 2s linear 26s, ventanas 2s linear 38s, ventanas 2s linear 50s, ventanas 2s linear 62s, ventanas 2s linear 74s, ventanas 2s linear 86s, ventanas 2s linear 98s, ventanas 2s linear 110s, ventanas 2s linear 122s, ventanas 2s linear 134s, ventanas 2s linear 142s;
}

.tres {
fill:#95a5a6;
-webkit-animation: ventanas 2s linear 4s, ventanas 2s linear 16s, ventanas 2s linear 28s, ventanas 2s linear 40s, ventanas 2s linear 52s, ventanas 2s linear 64s, ventanas 2s linear 76s, ventanas 2s linear 88s, ventanas 2s linear 90s, ventanas 2s linear 102s, ventanas 2s linear 114s, ventanas 2s linear 126s, ventanas 2s linear 138s, ventanas 2s linear 142s;
-moz-animation: ventanas 2s linear 4s, ventanas 2s linear 16s, ventanas 2s linear 28s, ventanas 2s linear 40s, ventanas 2s linear 52s, ventanas 2s linear 64s, ventanas 2s linear 76s, ventanas 2s linear 88s, ventanas 2s linear 90s, ventanas 2s linear 102s, ventanas 2s linear 114s, ventanas 2s linear 126s, ventanas 2s linear 138s, ventanas 2s linear 142s;
-o-animation: ventanas 2s linear 4s, ventanas 2s linear 16s, ventanas 2s linear 28s, ventanas 2s linear 40s, ventanas 2s linear 52s, ventanas 2s linear 64s, ventanas 2s linear 76s, ventanas 2s linear 88s, ventanas 2s linear 90s, ventanas 2s linear 102s, ventanas 2s linear 114s, ventanas 2s linear 126s, ventanas 2s linear 138s, ventanas 2s linear 142s;
animation: ventanas 2s linear 4s, ventanas 2s linear 16s, ventanas 2s linear 28s, ventanas 2s linear 40s, ventanas 2s linear 52s, ventanas 2s linear 64s, ventanas 2s linear 76s, ventanas 2s linear 88s, ventanas 2s linear 90s, ventanas 2s linear 102s, ventanas 2s linear 114s, ventanas 2s linear 126s, ventanas 2s linear 138s, ventanas 2s linear 142s;
}
.cuatro {
fill:#95a5a6;
-webkit-animation: ventanas 2s linear 6s, ventanas 2s linear 18s, ventanas 2s linear 30s, ventanas 2s linear 42s, ventanas 2s linear 54s, ventanas 2s linear 66s, ventanas 2s linear 78s, ventanas 2s linear 90s, ventanas 2s linear 102s, ventanas 2s linear 114s, ventanas 2s linear 126s, ventanas 2s linear 138s, ventanas 2s linear 142s;
-moz-animation: ventanas 2s linear 6s, ventanas 2s linear 18s, ventanas 2s linear 30s, ventanas 2s linear 42s, ventanas 2s linear 54s, ventanas 2s linear 66s, ventanas 2s linear 78s, ventanas 2s linear 90s, ventanas 2s linear 102s, ventanas 2s linear 114s, ventanas 2s linear 126s, ventanas 2s linear 138s, ventanas 2s linear 142s;
-o-animation: ventanas 2s linear 6s, ventanas 2s linear 18s, ventanas 2s linear 30s, ventanas 2s linear 42s, ventanas 2s linear 54s, ventanas 2s linear 66s, ventanas 2s linear 78s, ventanas 2s linear 90s, ventanas 2s linear 102s, ventanas 2s linear 114s, ventanas 2s linear 126s, ventanas 2s linear 138s, ventanas 2s linear 142s;
animation: ventanas 2s linear 6s, ventanas 2s linear 18s, ventanas 2s linear 30s, ventanas 2s linear 42s, ventanas 2s linear 54s, ventanas 2s linear 66s, ventanas 2s linear 78s, ventanas 2s linear 90s, ventanas 2s linear 102s, ventanas 2s linear 114s, ventanas 2s linear 126s, ventanas 2s linear 138s, ventanas 2s linear 142s;
}

.cinco {
fill:#95a5a6;
-webkit-animation: ventanas 2s linear 8s, ventanas 2s linear 20s, ventanas 2s linear  32s, ventanas 2s linear 44s, ventanas 2s linear 56s, ventanas 2s linear 68s, ventanas 2s linear 80s, ventanas 2s linear 92, ventanas 2s linear 104s, ventanas 2s linear 116s, ventanas 2s linear 128s, ventanas 2s linear 140s, ventanas 2s linear 142s;
-moz-animation: ventanas 2s linear 8s, ventanas 2s linear 20s, ventanas 2s linear  32s, ventanas 2s linear 44s, ventanas 2s linear 56s, ventanas 2s linear 68s, ventanas 2s linear 80s, ventanas 2s linear 92, ventanas 2s linear 104s, ventanas 2s linear 116s, ventanas 2s linear 128s, ventanas 2s linear 140s, ventanas 2s linear 142s;
-o-animation: ventanas 2s linear 8s, ventanas 2s linear 20s, ventanas 2s linear  32s, ventanas 2s linear 44s, ventanas 2s linear 56s, ventanas 2s linear 68s, ventanas 2s linear 80s, ventanas 2s linear 92, ventanas 2s linear 104s, ventanas 2s linear 116s, ventanas 2s linear 128s, ventanas 2s linear 140s, ventanas 2s linear 142s;
animation: ventanas 2s linear 8s, ventanas 2s linear 20s, ventanas 2s linear  32s, ventanas 2s linear 44s, ventanas 2s linear 56s, ventanas 2s linear 68s, ventanas 2s linear 80s, ventanas 2s linear 92, ventanas 2s linear 104s, ventanas 2s linear 116s, ventanas 2s linear 128s, ventanas 2s linear 140s, ventanas 2s linear 142s;
}

.seis {
fill:#95a5a6;
-webkit-animation: ventanas 2s linear 10s, ventanas 2s linear 22s, ventanas 2s linear 34s, ventanas 2s linear 46s, ventanas 2s linear 58s, ventanas 2s linear 60s, ventanas 2s linear 72s, ventanas 2s linear 84s, ventanas 2s linear 96s, ventanas 2s linear 108s, ventanas 2s linear 120s, ventanas 2s linear 132s, ventanas 2s linear 144s;
-moz-animation: ventanas 2s linear 10s, ventanas 2s linear 22s, ventanas 2s linear 34s, ventanas 2s linear 46s, ventanas 2s linear 58s, ventanas 2s linear 60s, ventanas 2s linear 72s, ventanas 2s linear 84s, ventanas 2s linear 96s, ventanas 2s linear 108s, ventanas 2s linear 120s, ventanas 2s linear 132s, ventanas 2s linear 144s;
-o-animation: ventanas 2s linear 10s, ventanas 2s linear 22s, ventanas 2s linear 34s, ventanas 2s linear 46s, ventanas 2s linear 58s, ventanas 2s linear 60s, ventanas 2s linear 72s, ventanas 2s linear 84s, ventanas 2s linear 96s, ventanas 2s linear 108s, ventanas 2s linear 120s, ventanas 2s linear 132s, ventanas 2s linear 144s;
animation: ventanas 2s linear 10s, ventanas 2s linear 22s, ventanas 2s linear 34s, ventanas 2s linear 46s, ventanas 2s linear 58s, ventanas 2s linear 60s, ventanas 2s linear 72s, ventanas 2s linear 84s, ventanas 2s linear 96s, ventanas 2s linear 108s, ventanas 2s linear 120s, ventanas 2s linear 132s, ventanas 2s linear 144s;
}

@-webkit-keyframes saetahora {
  from {
    -webkit-transform:rotate(0deg);
  }
  to {
    -webkit-transform:rotate(360deg);
  }
}


@-moz-keyframes saetahora {
  from {
  -moz-transform:rotateZ(0deg);
  }
  to {
  -moz-transform:rotateZ(360deg);
  }
}

.horas {
-webkit-transform-origin:100% 100%;
-o-transform-origin:100% 100%;
-moz-transform-origin:100% 100%;
-ms-transform-origin:100% 100%;
transform-origin:100% 100%;
-webkit-animation: saetahora 72s linear 0s 2;
-o-animation: saetahora 72s linear 0s 2;
animation: saetahora 72s linear 0s 2;
}

@-webkit-keyframes saetaminutos {
  from {
    -webkit-transform:rotate(0deg);
  }
  to {
    -webkit-transform:rotate(360deg);
  }
}


@-moz-keyframes saetaminutos {
  from {
  -moz-transform:rotateZ(0deg);
  }
  to {
  -moz-transform:rotateZ(360deg);
  }
}

.minutos {
-webkit-transform-origin:100% 100%;
-o-transform-origin:100% 100%;
-moz-transform-origin:100% 100%;
-ms-transform-origin:100% 100%;
transform-origin:100% 100%;
-webkit-animation: saetaminutos 6s linear 0s 24;
-o-animation: saetaminutos 6s linear 0s 24;
animation: saetaminutos 6s linear 0s 24;
}

.fix {
-moz-transform: translate(215px,349px);
}

.fix path {
-moz-transform: translate(-215px,-349px);
}

.fix2 {
-moz-transform: translate(215px,350px);
}

.fix2 path {
-moz-transform: translate(-215px,-350px);
}