 @import '_variables';
@import '_trabajos';

/* ==|== primary styles  =====================================================
Author:jorgeATGU
========================================================================== */
body {
  background: #F1F1F1;
  text-align: center;
}
.contenedor {
  background-color: #F3F3F3;
  width: 100%;
}
.roboto {
  font-family: 'Roboto', sans-serif;
}
.montse {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  font-weight: 800;
}

/* ==|== HEADER =====================================================
========================================================================== */
header {
  width: 100%;
  background: #fff;
  overflow: hidden;
  z-index: 5;
  position: relative;
  -webkit-box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0 1px 1px 0 rgba(50, 50, 50, 0.75);
  box-shadow:         0 1px 1px 0 rgba(50, 50, 50, 0.75);
}

nav {
  width: 100%;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
}
.menu-principal {
  width: 100%;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
}
.menu-principal li {
  width: 50%;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  border: 1px solid #40E0D0;
  cursor: pointer;
}
.menu-principal li a {
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1em;
  width: 100%;
  color: black;
  letter-spacing: 3px;
  font-weight: 800;
  padding: 10px 0;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu-principal li a:hover {
  color: #fff;
  background: rgb(64, 224, 208);
}
.social-header {
  width: 100%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
}
.social-header a {
  box-sizing: border-box;
  width: 25%;
  list-style: none;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  padding: 5px 0;
  float: left;
  -webkit-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in;
}
.social-header a:hover {
  -webkit-transform: scale(1.5) rotate(360deg);
  -moz-transform: scale(1.5) rotate(360deg);
  -o-transform: scale(1.5) rotate(360deg);
  -ms-transform: scale(1.5) rotate(360deg);
  transform: scale(1.5) rotate(360deg);
}
.social-header a:first-child {
  background: #00ACEE;
}
.social-header a:nth-child(2),
.social-header a:last-child {
  background: #000;
}
.social-header a:nth-child(3)
{
  background: #1769FF;
}

/* ==|==  INDEX =====================================================
========================================================================== */
.encabezados {
  padding: 15px 0 0 0;
  margin: 0;
  font-family: "ff-meta-web-pro",sans-serif;
  text-align: center;
  font-size: 1em;
  color: black;
}
.textoindex {
  font-size: 0.8em;
  line-height: 1.6em;
  text-align: left;
  margin: 0 auto;
  display: block;
  font-weight: 400;
  letter-spacing: 1px;
  width: 85%;
  color: #000;
  padding-bottom: 20px;
}

.btn-svg-full, .btn-svg-full2, .btn-svg-full3, .btn-svg, .btn-svg2, .btn-svg3 {
  width: 33.33%;
  float: left;
  font-size: .7em;
  color: black;
  display: inline;
  text-decoration: none;
  font-weight: bold;
  font-family: "proxima-nova", sans-serif;
  padding: 9px 0;
  text-align: center;
  background-color: #EFCC52;
  letter-spacing: 1px;
}
.btn-svg, .btn-svg2, .btn-svg3 {
  background-color: #3498db;
}
.btn-svg:hover {
  background-color: #2980b9;
  color: white;
}
.btn-svg2 {
  background-color: #E65F5F;
}
.btn-svg2:hover {
  background-color: #e22828;
  color: white;
}
.btn-svg-full:hover {
  background-color: #efbc13;
  color: white;
}
.boton-full:hover {
  background-color: #e03535;
}
.btn-svg-full2 {
  background: url(../img/twitter.svg) no-repeat;
  background-color: #00ACEE;
  background-position: 50% 50%;
  text-indent: -9999px;
}
.btn-svg-full3, .btn-svg3 {
  background: url(../img/codepen.svg) no-repeat;
  background-color: #000000;
  background-position: 50% 50%;
  text-indent: -9999px;
}
.svg404 {
  width: 100%;
  height: 100%;
  background-color: #07bdeb;
  max-height: 95%;
}
.cuadro_mio {
  background: #40E0D0;
}

.cuadro_mio > svg {
  width: 180px;
  height: 180px;
  padding: 10px 0;
}

.cuadro_disegrafico {
  width: 100%;
  text-align: left;
  overflow: hidden;
  background-color: #EC686C;
}

/* ==|== LIBRO =====================================================
========================================================================== */
.libro {
  width: 100%;
  overflow: hidden;
  background: #F1EEDA;
  z-index: 4;
  padding: 50px 0;
}
.portada {
  width: 100%;
}
.texto {
  width: 100%;
}
.boton-libro {
  width: 90%;
  margin: 0 auto;
}
.portada-scalable {
  width: 70%;
  padding: 1.5em;
  height: auto;
}
.texto-libro {
  width: 90%;
  margin: 0 auto;
  padding: 0.8em;
  color: #131825;
  text-align: left;
  line-height: 1.5em;
}

.portada .proxima-nova {
  color:#002F2F;
}
.encabezado-h1 {
  color: black;
  font-size: 2em;
  font-family: "ff-meta-web-pro",sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
}

.boton-leanpub {
  cursor: pointer;
  color: #000;
  padding: 25px 40px;
  margin-bottom: 2em;
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 5px;
  text-decoration: none;
  background-color: tomato;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}
.boton-leanpub:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #40E0D0;
  border-radius: 5px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.boton-leanpub:hover,
.boton-leanpub:focus,
.boton-leanpub:active {
  color: #EC686C;
}
.boton-leanpub:hover:before,
.boton-leanpub:focus:before,
.boton-leanpub:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/* ==|== FORMULARIO =====================================================
========================================================================== */

footer {
  padding: 100px 0;
  text-align: center;
  background-color: #F1F1F1;
}

.formulario {
  width: 90%;
  border-radius: 5px;
  padding: 25px 0;
  display: block;
  margin: 10px auto;
  background: mintcream;
  border: 1px solid #AE9BC3;
}

.content {
  background: rgba(64, 224, 208,0.5);
  overflow: hidden;
}
.contet > svg {
  padding-top: 10px;
}
.formulario-cabecera {
  width: 100%;
  font-size: 2em;
  color: #000;
  font-weight: 700;
  border-right: 0;
  border-left: 0;
  margin-top: 0;
}

.formulario-cuerpo input,
.formulario-cuerpo textarea {
  text-align: left;
  display: block;
  margin: 0 auto;
  width: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 10px;
  -webkit-appearance: none;
  border:1px solid #D3D3D3;
  box-shadow: none;
}

.formulario-cuerpo input:hover,
.formulario-cuerpo input:focus,
.formulario-cuerpo input:active,
.formulario-cuerpo textarea:focus,
.formulario-cuerpo textarea:hover {
  border: 1px solid midnightblue;
  -webkit-appearance: none;
  outline: none;
}

.formulario-cuerpo textarea {
  height: 50px;
  -webkit-transition: all .6s ease-in;
  -moz-transition: all .6s ease-in;
  -ms-transition: all .6s ease-in;
  -o-transition: all .6s ease-in;
  transition: all .6s ease-in;
}

.formulario-cuerpo textarea:focus,
.formulario-cuerpo textarea:hover {
  height: 150px;
  -webkit-transition: all .6s ease-in;
  -moz-transition: all .6s ease-in;
  -ms-transition: all .6s ease-in;
  -o-transition: all .6s ease-in;
  transition: all .6s ease-in;

}

.svg-velocity {
  width: 100%;
}

.formulario-obligatorio {
  color: #000;
  font-size: .7em;
  width: 100%;
  text-align: center;
  font-weight: 700;
  float: left;
  line-height: 0;
  margin: 0;
  padding: 1% 0 5% 0;
  display: inline-block;
}

.formulario-email {
  font-size: 20px;
  font-family: "ff-meta-web-pro",sans-serif;
  color: #001F3F;
}

.required {
  color: #BC7B78;
}
.formulario .formulario-cuerpo form .formulario-btn {
  margin-bottom: 25px;
  width: 90%;
  font-size: .7em;
  color: #fff;
  display: block;
  text-decoration: none;
  border-radius: 3px;
  padding: 9px 0;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  background: #EC686C;
  border: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.formulario .formulario-cuerpo form .formulario-btn:hover {
  background: #BB5255;
  letter-spacing: 10px;
  color:ghostwhite;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.mensaje-final {
  opacity: 0;
  font-family: "proxima-nova", sans-serif;
  color:crimson;
  position: absolute;
  left:-450px;
  top: 150px;
  font-size: 70px;
}
.post-box-end {
  position: absolute;
  left:-750px;
  top: 300px;
  opacity: 0;
}

/* ==|== FOOTER SOCIAL =====================================================
========================================================================== */
.iconos-footer {
  width: 32px;
  height: 50px;
}
.svg-filtros {
  width: 100%;
  height: 100%;
}
footer a {
  text-decoration: none;
}

/* ==|== TRABAJOS =====================================================
========================================================================== */

.recuadro {
  display: block;
}
.jorgemapa {
  letter-spacing: 2px;
  font-size: 50px;
  text-decoration: none;
  color: #211C40;
}

.trabajos {
  background-color: #DDDDDD;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.trabajos-lista {
  padding: 10px;
  list-style: none;
  border-radius: 10px;
  width: 300px;
}
.trabajos-figure {
  margin: 0;
  text-decoration: none;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.trabajos-figure a {
  text-decoration: none;
}
.trabajos-object {
  max-width: 100%;
  display: block;
  position: relative;
  pointer-events: none;
}
.trabajos-figure:hover {
  -webkit-animation: pulse 1s linear both;
  animation: pulse 1s linear both;
}

.trabajos-grafico figure {
  padding: 25px 0;
}

.trabajos-definicion {
  padding: 0 20px;
}

.trabajos-interior {
  width: 100%;
}

.trabajos-definicion h1 {
    text-align: left;
    color: #001F3F;
    font-size: 2em;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.trabajos-definicion p {
    font-family: "ff-meta-web-pro",sans-serif;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    color: #2F4F4F;
}

.trabajos-grafico img,
.trabajos-grafico object {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 20px;
  padding-bottom: 20px;
}

.trabajos-btn {
    margin: 30px 0;
    font-family: 'proxima-nova', sans-serif;
    font-size: 20px;
    border: 1px solid #001F3F;
    background: none;
    color: tomato;
    padding: 15px 30px;
    float: left;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.3s ease-in;
}

.trabajos-btn:hover {
  background: rgba(255, 255, 255, 0.65);
  border: 1px solid tomato;
  color: #001F3F;
}


@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.proxima-nova {
  font-family: "proxima-nova", sans-serif;
  font-style: normal;
}
figcaption {
  padding: 15px;
  color: #000;
  letter-spacing: 1px;
  background: snow;
}
figcaption h3,
figcaption p {
  margin: 0;
  text-align: left;
  color: black;
}

figcaption h3 {
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: 5px;
  color: tomato;
}

figcaption p {
  font-family: "ff-meta-web-pro",sans-serif;
  color: #001F3F;
}

.botontrabajos,
.botondownload {
  margin-bottom: 2%;
  width: 60%;
  font-size: .7em;
  color: #FFF;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #2980b9;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-family: arial, helvetica, sans-serif;
  padding: 9px 0;
  font-weight: bold;
  text-align: center;
  background-color: #3498db;
  letter-spacing: 1px;
}

.botondownload {
  background-color: #f1c40f;
  width: 30%;
  border: 1px solid #f39c12;
  color: #000;
}
.botondownload:hover {
  background-color: #f39c12;
}

/* ==|== TRABAJOS COLORES INTERIORES =====================================================
========================================================================== */

.trabajos-grafico-calendario {
  background-color: paleturquoise;
}

.trabajos-grafico-visible {
  background-color: #FAEBD7;
}

.trabajos-grafico-logotipos {
  background-color: darksalmon;
}

.trabajos-grafico-curriculum {
  background-color: aquamarine;
}

.trabajos-grafico-libro {
  background-color: antiquewhite;
}

.trabajos-grafico-city {
  background-color: floralwhite;
}

.trabajos-grafico-error {
  background-color: aqua;
}

.trabajos-grafico-animacion-portada {
  background-color: #45BCD2;
}

.trabajos-grafico-perfil-codepen {
  background-color: #EFCC52;
}

.trabajos-grafico-iphone {
  background-color: #9AE9C7;
}

.trabajos-grafico-jetpack {
  background-color: #000;
}

.trabajos-grafico-postbox {
  background-color: #FEE470;
}

.trabajos-grafico-rodeo {
  background-color: #BDC3C7;
}

.trabajos-grafico-viewbox {
  background-color: #73C2AC;
}

.trabajos-grafico-svg-snippets {
  background-color: #7FDBFF;
}

.trabajos-grafico-smil-snippets,
.trabajos-grafico-charlas {
  background-color: beige;
}



/* ==|== ANIMACION HTML5 =====================================================
========================================================================== */
.animacion object {
  width: 100%;
  height: 100%;
}
.animacion {
  width: 1366px;
  height: 768px;
  margin: 0 auto;
}

/* ==========================================================================
Helper classes
========================================================================== */
/*
* Image replacement
*/

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden; /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
* Hide from both screenreaders and browsers:h5bp.com/u
*/
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
* Hide only visually, but have it available for screenreaders:h5bp.com/v
*/
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
* Extends the .visuallyhidden class to allow the element to be focusable
* when navigated to via the keyboard:h5bp.com/p
*/
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
* Hide visually and from screenreaders, but maintain layout
*/
.invisible {
  visibility: hidden;
}

/*
* Clearfix:contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/
.clearfix:before, .clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
Mobile first styles.
jorgeATGU
========================================================================== */
/* ===== == = === desde 30em (480px) === = == ===== */

@media screen and (min-width:31.5em) {
}

/* ===== == = === desde 48em (768px) === = == ===== */
@media only screen and (min-width:48em) {
  nav {
    width: 70%;
    display: inline-block;
    float: left;
    padding-top: 15px;
  }

  .svgindex {
    display: block;
    margin: 0 auto;
  }

  .menu-principal {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  .menu-principal li {
    width: 15%;
    border: 0;
    margin-right: 3%;
  }
  .menu-principal li:first-child {
    margin-left: 15%;
  }
  .menu-principal li:last-child {
    margin-right: 15%;
  }
  .menu-principal li a {
    font-size: .8em;
    padding: 0;
    margin-top: 10px;
    padding-bottom: 5px;
    box-sizing: border-box;
    width: auto;
    letter-spacing: 2px;
    display: inline-block;
    border-bottom: 0 solid black;
  }
  .menu-principal li a:hover {
    background: none;
    color: crimson;
    border-bottom: 3px solid #000;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

  }
  .social-header {
    width: 30%;
  }
  .social-header a {
    width: 20%;
  }
  .social-header a:first-child {
    margin-left: 20%;
  }
  .recuadro {
    top: 0;
  }

  .trabajos-lista {
    width: 350px;
    max-width: 350px;
  }

  .encabezados,
  .encabezados2,
  .encabezados3 {
    font-size: 1.5em;
    letter-spacing: 1px;
  }
  .formulario {
    width: 60%;
    max-width: 900px;
    margin: 150px auto;
  }
  .formulario-cuerpo input,
  .formulario-cuerpo textarea {
    width: 60%;
  }

  form .formulario-btn {
    font-size: 1.2em;
  }

  .trabajos {
    padding: 80px;
  }

  .trabajos-interior {
    display: table;
  }

  .trabajos-definicion p {
      font-size: 20px;
      line-height: 28px;
  }

  .trabajos-definicion {
    width: 40%;
    display: table-cell;
    background: #fff;
    padding: 100px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
  }

  .trabajos-grafico figure {
    padding: 0;
  }

  .trabajos-grafico img,
  .trabajos-grafico object {
    width: 50%;
    float: left;
    display: inline-block;
  }

  .trabajos-grafico-curriculum object {
    width: 100%;
    float: none;
  }

  .trabajos-grafico-libro object {
    width: 50%;
    float: none;
  }

  .trabajos-grafico {
    width: 60%;
    display: table-cell;
    padding: 100px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .cuadro_mio {
  padding: 10px 0;
  }

  .textoindex,
  .texto-libro {
    max-width: 700px;
    font-size: 1.1em;
    width: 50%;
    padding-bottom: 25px;
  }
  .portada-scalable {
    width: 20%;
    max-width: 500px;
  }
  .encabezado-h1 {
    font-size: 2em;
  }
}

/* ===== == = === 64em (1024px) === = == ===== */
@media only screen and (min-width:64em) {
  .svgindex {
    max-height: none;
    max-width: 1700px;
  }

  .formulario .formulario-cuerpo form .formulario-btn {
    width: 60%;
  }
  .diseimagen, .svgimagen {
    width: 100%;
    padding-top: 3%;
  }
}

/* ===== == = === 85em (1366px) === = == ===== */
@media only screen and (min-width:85.37em) {

}

/* ==========================================================================
Helper classes
========================================================================== */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
Print styles
========================================================================== */
@media print {
  *{background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    -webkit-box-shadow:none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a, a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
  * Don't show links for images, or javascript/internal links
  */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group; /* h5bp.com/t */
  }
  tr, img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
}



.jobs {
  width: 50%;
  display: inline-block;
  .jobs-titulo {
    font-size: 28px;

  }
  .jobs-texto {

  }
}


