/* Astral 0.2.1 por Jorge Aznar
  http://github.com/jorgeatgu/astral
  http://jorgeatgu.com
*/

@import '_reset';
@import '_variables';
@import '_grid';
@import '_proyectos';
@import '_renta';
@import '_footer';

* {
    box-sizing: border-box;
    line-height: 1.5;
}

html {
  background-color: var(--background);
}

