/* Astral 0.2.1 por Jorge Aznar
  http://github.com/jorgeatgu/astral
  http://jorgeatgu.com
*/

@import '_reset';
@import '_variables';
@import '_grid';
@import '_proyectos';
@import '_renta';
@import '_footer';

* {
  box-sizing: border-box;
  line-height: 1.5;
}

html {
  background-color: var(--background);
}

@font-face {
  font-family: 'graph_ff_condensedblack';
  src: url('graph-ff-condensed-black-web-webfont.woff2') format('woff2'),
    url('graph-ff-condensed-black-web-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("Inter-Medium.woff2?v=3.12") format("woff2"),
    url("Inter-Medium.woff?v=3.12") format("woff");
}
